.header {
  display: flex;
  align-items: center;
  gap: 2.75rem;
  margin: 0;
  padding: 4rem 0 1.5rem;
  color: $white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;

  @include desktop {
    gap: 2rem;
    padding: 2rem 0;
  }

  @include tablet {
    gap: 1.5rem;
    padding: 1rem 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  &__title {
    width: min-content;

    @include laptop {
      display: none;
    }
  }
}
