.first-screen {
  margin: 5.25rem 0 11.625rem;

  @include tablet {
    margin: 5rem 0;
  }

  @include iphone {
    margin: 4.5rem 0;
  }

  @include mobile {
    margin: 4rem 0;
  }

  &__title {
    margin: 0 0 0.625rem;
    text-align: center;
    font-size: 6rem;
    line-height: 1.1;
    text-transform: uppercase;

    @include laptop {
      font-size: 4.5rem;
    }

    @include tablet {
      font-size: 3rem;
    }

    @include iphone {
      font-size: 2rem;
    }
  }

  &__description {
    max-width: 81rem;
    margin: 0.625rem auto 5.625rem;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.0625rem;

    @include tablet {
      margin-bottom: 3.5rem;
      font-size: 1.375rem;
      line-height: 1.75rem;
    }

    @include iphone {
      font-size: 1.125rem;
      line-height: 1.3125rem;
    }

    @include mobile {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }

    & p:first-child {
      margin-top: 0;
    }

    & p:last-child {
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}
