.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: $black, $alpha: 0.5);

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    position: relative;
    max-width: 80%;
    width: 800px;
    padding: 65px 38px 52px;
    box-sizing: border-box;
    border-radius: 30px;
    background: $white;
    color: $black;
    text-align: center;

    @include iphone {
      max-width: 90%;
      padding: 40px 16px 16px;
      border-radius: 16px;
    }

    &_video {
      padding: 0;
      max-width: 90%;
      width: 1000px;
      background: none;

      & .modal__close-button {
        display: none;
      }
    }
  }

  &__title {
    margin: 0 0 18px;
    text-align: center;
    font-size: 37px;
    line-height: 42px;

    @include iphone {
      font-size: 28px;
      line-height: 32px;
    }

    & img {
      margin-right: 16px;
    }
  }

  &__description {
    margin: 0;
    font-size: 22px;
    line-height: 31px;

    @include iphone {
      font-size: 16px;
      line-height: 19px;
    }

    &_secondary {
      margin: 25px 0 0;
      color: #909090;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__close-button {
    position: absolute;
    top: 24px;
    right: 32px;
    width: 18px;
    height: 18px;
    border: none;
    background-image: url('../assets/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    cursor: pointer;

    @include iphone {
      top: 14px;
      right: 14px;
    }
  }
}
