.button {
  padding: 1.25rem 3rem;
  border-radius: 20px;
  font-size: 1.875rem;
  line-height: 2.0625rem;
  border: none;
  color: $black;
  text-decoration: none;
  background: $white;
  transition: $baseTransition;
  cursor: pointer;

  @include tablet {
    padding: 0.75rem 1.5rem;
    border-radius: 0.875rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  @include iphone {
    font-size: 1rem;
    line-height: 1.125rem;
  }

  &:hover {
    box-shadow: 0 0 0.625rem rgba($color: $black, $alpha: 0.45);
  }

  &:active {
    transform: scale(0.95);
  }
}
