.offers {
  display: flex;
  gap: 25px;
  margin: 25px 0;

  @include tablet {
    display: block;
  }

  &__item {
    flex: 1 1 50%;
    padding: 25px;
    background-color: $greyBg;
    border-radius: 10px;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 15px;
  }
}
