.table {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;

  @include laptop {
    font-size: 13px;
    line-height: 16px;
  }

  @include tablet {
    font-size: 12px;
    line-height: 15px;
  }

  @include phone {
    font-size: 11px;
    line-height: 13px;
  }

  & > :not(caption) > * > * {
    padding: 0.5rem;

    @include phone {
      padding: 0.25rem;
    }
  }

  & > tbody {
    vertical-align: inherit;
  }

  & > thead {
    color: $greyText;
    vertical-align: bottom;
    text-align: left;
  }

  & th:first-child,
  & td:first-child {
    padding-left: 0;
  }

  & th:last-child,
  & td:last-child {
    padding-right: 0;
  }

  & td.grey {
    color: $greyText;
  }

  & th {
    word-break: break-all;
  }

  &-buy {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    color: $orange;
    text-decoration: underline;
    cursor: pointer;
  }

  &__th {
    display: flex;
    align-items: center;
    gap: 3px;

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    &-button {
      display: block;
      width: 8px;
      height: 5px;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../assets/arrow.svg');

      &_bottom {
        transform: rotate(180deg);
      }
    }
  }

  & th.active.top &__th-button_top,
  & th.active.bottom &__th-button_bottom {
    background-image: url('../assets/arrow-active.svg');
  }
}
