// Base

@import './base/vars';
@import './base/reset';
@import './base/mixins';

// Modules

@import './modules/button';
@import './modules/logo';
@import './modules/iconButton';
@import './modules/searchBar';
@import './modules/itcCustomSelect';
@import './modules/catalogListItem';
@import './modules/pageNavigation';
@import './modules/menu';
@import './modules/doubleRangeSlider';
@import './modules/modal';
@import './modules/catalogCard';
@import './modules/casesCard';
@import './modules/requestOrderModal';

// Layouts

@import './layouts/topContacts';
@import './layouts/header';
@import './layouts/firstScreen';
@import './layouts/main';
@import './layouts/benefits';
@import './layouts/categories';
@import './layouts/info';
@import './layouts/cases';
@import './layouts/consultForm';
@import './layouts/footer';
@import './layouts/breadcrumbs';
@import './layouts/catalog';
@import './layouts/casesPage';
@import './layouts/contacts';
@import './layouts/checkout';
