@mixin laptop {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin iphone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 360px) {
    @content;
  }
}
