@font-face {
  font-family: 'Century Gothic';
  src: url('../../fonts/centurygothic.ttf');
}

html {
  font-size: 16px;
  font-family: 'Century Gothic', 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: $black;
}

body {
  margin: 0;
}

a,
button,
input {
  font-family: 'Century Gothic', 'Segoe UI', Tahoma, Verdana, sans-serif;
}
