html {
  font-size: 1rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: $black;
}

body {
  margin: 0;
}

a,
button,
input,
textarea {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
}
