.advantages {
  margin: 6rem 0 4.125rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.0625rem;

  @include laptop {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @include tablet {
    margin: 3.75rem 0;
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  @include iphone {
    margin: 3rem 0;
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  &_secondary {
    margin: 4.125rem 0 6.3125rem;
    text-align: center;

    @include tablet {
      margin: 3.75rem 0;
    }

    @include iphone {
      margin: 3rem 0;
    }
  }

  & .container {
    position: relative;
    padding: 3.25rem 4rem;
    border-radius: 1.875rem;
    opacity: 0.6;
    background: $white;

    @include tablet {
      padding: 1.5rem;
      border-radius: 0.9375rem;
    }

    @include iphone {
      padding: 1rem;
    }
  }

  &__title {
    margin: 0 0 3rem;

    &_secondary {
      margin: 0 0 1.25rem;

      @include iphone {
        margin: 0 0 0.5rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem 2rem;
    margin: 4.75rem 0 1.25rem;
    padding: 0;

    @include tablet {
      gap: 1.5rem;
      margin: 1.25rem 0;
    }

    @include iphone {
      gap: 1rem;
    }

    &-item {
      flex: 1 0 calc((100% - 2rem) / 2);
      display: flex;
      gap: 1.875rem;
      list-style-type: none;
      color: $black;

      @include tablet {
        gap: 1.5rem;
      }

      @include iphone {
        flex: 1 0 100%;
        gap: 1rem;
      }

      &-number {
        font-size: 5rem;
        font-family: 'Intro Black', sans-serif;
        font-weight: 900;
        line-height: 4.625rem;

        @include tablet {
          font-size: 3rem;
          line-height: 3.375rem;
        }

        @include iphone {
          font-size: 2.25rem;
          line-height: 2.75rem;
        }
      }
    }
  }

  &__description {
    max-width: 70.375rem;
    margin: 0 auto;
    text-align: center;
  }

  & .swiper {
    &-button {
      &-prev,
      &-next {
        top: auto;
        bottom: calc(50% - 4rem);
        color: $black;

        @include tablet {
          display: none;
        }
      }

      &-prev {
        left: 1rem;
      }

      &-next {
        right: 1rem;
      }
    }
  }
}
