.benefits {
  @media (min-width: 30rem) {
    margin-top: 6.875rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2.75rem;
    padding: 0;

    @media (max-width: 75rem) {
      gap: 3.5rem 1.25rem;
    }

    @include iphone {
      gap: 2.5rem 1.25rem;
    }

    @include mobile {
      gap: 1.875rem 1.25rem;
    }

    &-item {
      flex: 1 0 calc(100% / 3 - 2.75rem);
      min-width: calc(100% / 3 - 2.75rem);
      list-style-type: none;

      @media (max-width: 75rem) {
        flex: 1 0 calc(100% / 2 - 2.75rem);
        min-width: calc(100% / 2 - 2.75rem);
      }

      @include mobile {
        flex: 1 0 100%;
      }
    }
  }
}

.benefit {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: row;
  }

  &__icon {
    flex: 0 0 auto;
    width: 7.875rem;
    height: 7.875rem;

    & > img {
      width: 100%;
      height: auto;
    }

    @include laptop {
      width: 6.875rem;
      height: 6.875rem;
    }

    @include tablet {
      width: 5rem;
      height: 5rem;
    }
  }

  &__title {
    margin: 0 0 0.625rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;

    @include laptop {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    @include tablet {
      text-align: center;
    }

    @include iphone {
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
    }

    @include mobile {
      text-align: left;
    }
  }

  &__description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25rem;

    @include laptop {
      font-size: 0.9375rem;
      line-height: 1.125rem;
    }

    @include tablet {
      text-align: center;
    }

    @include iphone {
      font-size: 0.875rem;
      line-height: 1.0625rem;
    }

    @include mobile {
      text-align: left;
    }
  }
}
