.callback {
  margin-bottom: 3.375rem;

  &__wrapper {
    padding: 6.875rem 5.4375rem 6.0625rem;
    border-radius: 1.875rem;
    background-color: $green;
    background-image: url('/assets/formbg.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      padding: 2rem;
    }

    @include iphone {
      padding: 1rem;
    }
  }

  &__title {
    margin: 0 0 2rem;
    color: $white;
    font-size: 3rem;
    font-family: 'Intro Black', sans-serif;
    font-weight: 900;
    line-height: 3.3125rem;

    @include tablet {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }

    @include iphone {
      margin: 0 0 1.125rem;
      font-size: 1.625rem;
      line-height: 2rem;
    }
  }

  &__form {
    max-width: 33.75rem;

    :nth-child(3) {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 2rem;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__fieldset {
    margin-bottom: 1rem;
    padding: 0;
    border: none;
  }

  &__input {
    width: 100%;
    padding: 1.125rem 1rem;
    font-size: 1.125rem;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    box-sizing: border-box;
    border: none;
    outline: 0.125rem solid rgba($color: #26ae61, $alpha: 0);
    border-radius: 0.75rem;
    background: $white;

    @include iphone {
      padding: 0.875rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  &__submit {
    background: #26ae61;
    color: $white;
    transition: $baseTransition;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0.625rem rgba($color: $black, $alpha: 0.45);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__code {
    flex: 0 0 100%;
    max-width: fit-content;
  }
}
