.catalog {
  margin-top: 3.3125rem;

  &__types {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 2.5rem;
    margin: 0 0 3.125rem;
    padding: 0 0 1.875rem;
    border-bottom: 0.0625rem solid $grey50;

    @include laptop {
      gap: 1.25rem 1.875rem;
    }

    @include tablet {
      margin: 0 0 1.875rem;
    }

    @include iphone {
      gap: 1.25rem 1.5625rem;
    }

    & > li {
      list-style-type: none;
      cursor: pointer;

      &.active {
        font-weight: 700;
        color: $purple;
      }
    }
  }

  &__wrapper {
    display: flex;
    gap: 1.25rem;

    @include laptop {
      display: block;
    }
  }

  &__filter {
    flex: 0 1 19.375rem;
    max-width: 19.375rem;
    padding: 1.875rem;
    background: $white;
    border: 0.0625rem solid $grey;
    border-radius: 0.625rem;
    box-sizing: border-box;

    @include laptop {
      display: none;
    }

    &-toggler {
      display: none;
      margin-bottom: 1.25rem;
      padding: 0;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.25rem;
      text-decoration: underline;
      background: none;
      border: none;
      cursor: pointer;

      @include laptop {
        display: block;
      }
    }

    &-selects {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      margin: 1.25rem 0 1.875rem;
    }

    &-price {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      margin-bottom: 2.5rem;

      &-label {
        flex: 1 0 auto;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        padding: 0.9375rem 1.25rem;
        border: 0.0625rem solid $grey;
        border-radius: 1.875rem;
      }
    }
  }

  &__container {
    flex: 1 0 auto;
  }

  &__sorting {
    padding: 0 0 1.25rem;
    margin: 0 0 2.5rem;
    border-bottom: 1px solid $grey50;

    &-title {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.0625rem;
      margin: 0 0 1.25rem;
    }

    &-container {
      display: flex;
      gap: 1.25rem;

      @include tablet {
        flex-wrap: wrap;
      }

      @include mobile {
      }
    }

    &-item {
      flex: 1 0 calc((100% - 1.25rem * 3) / 4);

      @include tablet {
        flex: 1 0 calc((100% - 1.25rem) / 2);
        max-width: calc((100% - 1.25rem) / 2);
      }

      @include iphone {
        flex: 1 0 100%;
        max-width: 100%;
      }

      &_buttons {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 0.625rem;

        @include laptop {
          gap: 0.3125rem;
        }

        @include iphone {
          display: none;
        }
      }
    }

    &-button_table,
    &-button_row {
      display: block;
      height: 3rem;
      width: 3rem;
      background-color: $white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      cursor: pointer;

      @include laptop {
        height: 1.875rem;
        width: 1.875rem;
      }
    }

    &-button_table {
      background-image: url(../../assets/icons/icon_sort_table.svg);
    }

    &-button_row {
      background-image: url(../../assets/icons/icon_sort_rows.svg);
    }
  }
}
