.contacts {
  margin-top: 3.3125rem;
  font-size: 1.125rem;
  line-height: 1.375rem;

  @include laptop {
    margin-top: 1.4375rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @include iphone {
    margin-top: 2.0625rem;
  }

  &__title {
    margin: 0 0 0.625rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5625rem;

    @include laptop {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }

  &__text,
  &__title {
    @media (max-width: 40rem) {
      text-align: center;
    }
  }

  &__text * {
    color: $black;
    text-decoration: none;
  }

  &-wrapper {
    display: flex;
    gap: 2rem;

    @include tablet {
      flex-direction: column;
    }
  }

  &-info {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.25rem;
    }

    @include iphone {
      flex-direction: column;
    }

    &__block {
      @include tablet {
        flex: 1 0 calc((100% - 1.25rem) / 2);
      }

      @include iphone {
        flex: 1 0 calc((100% - 1.25rem * 3) / 4);
      }

      @media (max-width: 40rem) {
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
      }
    }
  }

  &-map {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    &-wrap {
      flex: 1 0 auto;
      background-color: $grey50;

      @include tablet {
        height: 23.75rem;
      }
    }
  }
}
