.first-screen {
  color: $white;
  background-color: $black;

  & .container {
    height: 100%;
    max-width: 1920px;
    padding: 1.25rem 5rem 0;
    margin: 0 auto;

    @include laptop {
      padding: 1.25rem 0 0;
    }
  }

  & .swiper {
    height: 100%;

    &-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-button-prev,
    &-button-next {
      background-image: url(../../assets/icons/icon_arrow.svg);
      background-position: center;
      background-repeat: no-repeat;

      @include tablet {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &-button-next {
      transform: rotate(180deg);
    }
  }

  &__banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    & img {
      width: 100%;
      height: auto;

      @include tablet {
        width: 100%;
        height: 27.5rem;
        object-fit: cover;
      }

      @include iphone {
        height: 18.75rem;
      }

      @include mobile {
        height: 15rem;
      }
    }
  }

  &__title {
    margin: 0 0 0.3125rem;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.8125rem;
    text-align: center;

    @include laptop {
      font-size: 2.875rem;
      line-height: 3.5rem;
    }
  }

  &__description {
    margin: 0 0 1.875rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;

    @include laptop {
      padding: 0 2rem;
      font-size: 1rem;
      line-height: 1.25rem;
    }

    @include iphone {
      padding: 0 1.875rem;
    }

    @include mobile {
      padding: 0 1.25rem;
    }
  }

  &-pagination {
    position: static;
    padding: 1.875rem 0 2.5rem;

    &.swiper-pagination .swiper-pagination-bullet {
      height: 0.625rem;
      width: 0.625rem;
      margin-left: 0;
      margin-right: 0.625rem;
      background-color: $purple;

      &:last-child {
        margin: 0;
      }
    }
  }
}
