.header {
  margin: 4rem 0;

  @include tablet {
    margin: 1rem 0;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    gap: 2rem;

    @include tablet {
      flex-direction: column;
      gap: 0.375rem;
    }
  }
}
