.header {
  margin: 64px 0;

  @include tablet {
    margin: 16px 0;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    gap: 32px;

    @include tablet {
      flex-direction: column;
      gap: 6px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $black;
    text-decoration: none;

    @include tablet {
      gap: 0.25rem;
      font-size: 16px;
      line-height: 20px;
    }

    & img {
      width: 24px;
      height: auto;

      @include tablet {
        width: 20px;
      }
    }
  }

  &__social {
    display: flex;
    gap: 9px;

    @include tablet {
      gap: 6px;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      padding: 8px;
      box-sizing: border-box;
      border-radius: 8px;
      background: $white;

      @include tablet {
        width: 26px;
        height: 26px;
        padding: 4px;
        border-radius: 6px;
      }

      & img {
        width: 16px;
        height: auto;

        @include tablet {
          width: 13px;
        }
      }
    }
  }
}
