.main {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $black;

  @include laptop {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__section {
    margin: 8.75rem 0;

    @include laptop {
      margin: 7.5rem 0;
    }

    @include iphone {
      margin: 5rem 0;
    }
  }

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4.25rem;

    @include tablet {
      padding: 0 3.125rem;
    }

    @include iphone {
      padding: 0 1.875rem;
    }

    @include mobile {
      padding: 0 1.25rem;
    }
  }

  &__heading {
    margin: 0 0 4.375rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    color: $black;

    @include laptop {
      margin: 0 0 3.75rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    @include iphone {
      margin: 0 0 2.5rem;
      font-size: 1.625rem;
      line-height: 2rem;
    }
  }

  &__description {
    margin-bottom: 4.375rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    text-align: center;

    @include laptop {
      margin-bottom: 3.75rem;
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    @include iphone {
      margin-bottom: 2.5rem;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}
