.button {
  min-width: max-content;
  padding: 0.625rem 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
  background: $purple;
  border-radius: 1.875rem;
  border: none;
  cursor: pointer;

  @include laptop {
    padding: 0.625rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &:hover {
    background: $purpleHover;
  }

  &:active {
    background: $purpleActive;
  }

  &_large {
    padding: 0.9375rem 3.125rem;
    font-size: 1rem;
    line-height: 1.25rem;

    @include laptop {
      font-size: 0.9375rem;
      line-height: 1.125rem;
    }
  }
}
