.icon-button {
  flex: 0 0 auto;
  width: 1.25rem;
  height: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  cursor: pointer;

  &_search {
    background-image: url(../../assets/icons/icon_search.svg);
  }

  &_search-black {
    background-image: url(../../assets/icons/icon_search-black.svg);
  }

  &_basket {
    background-image: url(../../assets/icons/icon_basket.svg);

    & > a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &_delete {
    height: 1.875rem;
    width: 1.875rem;
    background-image: url(../../assets/icons/icon_delete.svg);
  }

  &_menu {
    display: none;
    background-image: url(../../assets/icons/icon_menu.svg);
    transition: all ease-in-out 0.1s;

    &.active {
      background-image: url(../../assets/icons/icon_close.svg);
    }

    @include tablet {
      display: block;
    }
  }

  &_close {
    background-image: url(../../assets/icons/icon_close.svg);
  }

  &_close-black {
    background-image: url(../../assets/icons/icon_close_black.svg);
  }

  &_phone {
    display: block;
    background-image: url(../../assets/icons/icon_phone.svg);
    cursor: default;
  }

  &_mail {
    background-image: url(../../assets/icons/icon_mail.svg);
    cursor: default;
  }
}
