.menu {
  margin: 1.25rem 0;
  padding: 0;

  &.hidden {
    display: none;
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    margin-bottom: 0.625rem;
    list-style-type: none;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }

  & &__sub-menu {
    display: none;
    padding-left: 1.5625rem;
  }

  &__sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
  }

  &__sub-toggler {
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.625rem;
    background-image: url(../../assets/icons/icon_toggler-black.svg);
    border: none;
    transform: rotate(0deg);
    transition: $baseTransition;
    cursor: pointer;

    &.active {
      transform: rotate(180deg);
    }
  }
}
