.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba($color: $black, $alpha: 0.9);

  &.visible {
    display: flex;
  }

  &-dialog {
    position: relative;
    width: 100%;
    max-width: 81.25rem;
    max-height: calc(100vh - 6.25rem);
    margin: 6.25rem;
    padding: 2.5rem 2.1875rem;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 0.625rem;

    @include laptop {
      padding: 1.25rem;
    }

    @include tablet {
      margin: 3.125rem;
    }

    @include iphone {
      margin: 1.875rem;
    }

    @include mobile {
      margin: 1.25rem;
    }

    & .icon-button_close-black {
      position: absolute;
      z-index: 1001;
      top: 2.5rem;
      right: 2.1875rem;

      @include laptop {
        top: 1.25rem;
        right: 1.875rem;
      }

      @media (max-width: 40rem) {
        top: 1.875rem;
        right: 2.25rem;
      }
    }
  }

  &-content {
    max-height: calc(100vh - 10.25rem);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey50;
      border-top: 2.5rem solid white;
      border-bottom: 2.5rem solid white;
    }
  }
}
