#requestOfferModal {
  & .modal-dialog {
    padding: 0;
    width: auto;
    border: none;
    border-radius: 0;
    background: none;

    & .icon-button_close-black {
      top: 1.25rem;
      right: 1.25rem;
    }
  }

  & .consult-form {
    padding: 2.25rem;

    @include mobile {
      padding: 2.25rem 1rem;
    }

    &__wrapper {
      background-size: auto 31.25rem ;
      border: 0.0625rem solid $purple;
    }

    &__fieldset_top {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__label {
      &_input {
        width: 100%;

        & > input {
          display: block;
          width: 100%;
          box-sizing: border-box;
        }

        & > span {
          margin-bottom: 0.6875rem;
        }
      }

      &_checkbox {
        max-width: 23rem;
      }
    }

    & .button.button_large {
      display: block;
      width: 100%;
      margin-bottom: 1.875rem;
    }
  }

  & .main__heading {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}
